<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
​
<body>
    <div class="container">
        <p>Hello there,</p>
        <p>Thank you for subscribing to Nyakinyua Blogs.</p>
        <p>You will now get an email each time we publish a new post, and I promise we won't stuff your inbox with unnecessary updates.</p>
        <p>We aim to write content that you can actually use to grow your skills in coding</p>
        <p>from: Nyakinyua, CEO</p>
        <p>for more info or support kindly contact wanyakinyua968@gmail.com</p>
    </div>
</body>
​
</html>