{% extends 'layout.html'%}



{% block content %}
<div class="container" style="margin-top: 10em;">
{% for quote in random_quotes%}
<div id="quote">
    <small>{{quote.id}}</small>
    <p>{{quote.author}}</p>
    <p>{{quote.quote}}</p>
</div>
{% endfor%}
</div>

<a class="btn btn-outline-success"href="/blog/new/{{current_user.username}}">New Post</a>


{% for blog in allblogs %}
        
<h3>{{blog.title}}</h3>
<h4>{{blog.blog_content}}</4>

<a href="{{url_for('main.new_comment',blog_id = category.id)}}" class="btn btn-outline-info"> Add a comment</a>
<a class="btn btn-outline-danger" href="/delete/{{blog.id}}">Delete</a>

{% endfor %}
{% endblock content %}