{% extends 'layout.html'%}



{% block content %}
<div class="container" style="margin-top: 10em;">
{% for quote in random_quotes%}
<div id="quote">
    <small>{{quote.id}}</small>
    <p>{{quote.author}}</p>
    <p>{{quote.quote}}</p>
</div>
{% endfor%}
</div>

<a class="btn btn-outline-success"href="/blog/new/{{current_user.username}}">New Post</a>


{% for blog in blogs %}
        
<h3><strong>{{blog.title}}</strong></h3>
<h4>{{blog.blog_content}}</h4>


<a class="btn btn-outline-danger" href="/delete/{{blog.id}}">Delete</a>

{% endfor %}
{% endblock content %}